.debug {
  padding: 1rem;
  border: 2px dashed red;
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  background-image: linear-gradient(
    to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%
  );
  font-family: "Lato", "sans-serif";
  overflow: hidden;
  height: 100vh;
}

body i {
  cursor: pointer;
}

.container {
  height: 1000px;
  overflow: hidden;
}
.left-col,
.right-col {
  overflow: hidden;
  height: 1000px;
}
/* header  */
.header {
  height: 65px;
  background-color: #eaeaea;
}

.header i,
.input-group i {
  color: #b1b1b1;
}

.header .profile-pic {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .profile-pic img {
  height: 65%;
  border-radius: 50%;
}

/* notify banner  */
.notify {
  background-color: #8edafc;
}
.notify-icon {
  height: 40px;
  aspect-ratio: 1;
  background-color: white;
  color: #8edafc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.notify-message > a {
  font-size: 0.8rem;
  color: gray;
}
.notify-message > p {
  line-height: 0.8rem;
  font-size: 0.8rem;
  font-weight: bolder;
}
/* tumbs */
.contact-thumb-container {
  overflow-y: scroll;
  height: 100%;
  background-color: white;
}
.contact-thumb {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.contact-thumb:hover {
  background-color: rgb(211, 211, 211);
}

.contact-thumb .thumb-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
.contact-thumb .profile-pic {
  height: 100%;
}

.contact-thumb .profile-pic img {
  height: 100%;
  border-radius: 50%;
}

.contact-details p {
  margin: 0;
  font-weight: 600;
}
.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-details span {
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: grey;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contact-thumb .last-message-hour {
  font-size: 0.5rem;
  text-align: end;
  color: grey;
}

/* right col  */
.chat-container {
  overflow-y: scroll;
  height: calc(1000px - 65px - 75px);
  background-image: url(../img/mine.jpg);
}

.chat-textbox {
  height: 75px;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.chat-textbox i {
  vertical-align: middle;
  line-height: 5px;
}

.chat-textbox .input-text {
  vertical-align: middle;
}

.chat-container {
  padding-left: 80px;
  padding-right: 80px;
}

.chat-container .message-sent,
.chat-container .message-received {
  width: 250px;
  border-radius: 10px;
  margin-top: 0.7rem;
}

.chat-container .message-received {
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  margin-right: auto;
}
.chat-container .message-sent {
  background-color: #d5f9ba;
  border-bottom-right-radius: 0;
  margin-left: auto;
}

.message-received i {
  color: #ffffff;
}
.message-sent i {
  color: #d5f9ba;
}

.chat-container .message-hour {
  font-size: 0.5rem;
  text-align: end;
  vertical-align: bottom;
}

.chat-balloon {
  position: relative;
  padding: 0 1rem;
}

.message-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.chat-balloon:hover i {
  color: #b1b1b1;
}

.dropdownlist-options {
  list-style: none;
  border-radius: 10px;
  padding: 5px;
}

.dropdown-item:hover {
  background-color: #c4c4c4;
}

.dropdownlist {
  position: absolute;
  right: 0;
  top: 2.5rem;
  z-index: 1;
}
